<div>
    <h2>Homepage</h2>
    {{#unless loggedin}}
    <p> Please log in to create posts!</p>
    {{/unless}}

    <ul>
        {{#if loggedin}}
        {{#each posts as |post|}}

        <a href="/post/{{post.id}}">
            <li>
                <div>
                    <h2>{{post.title}}</h2>
                    <p>{{post.text}}</p>
                </div>
            </li>
         </a>
        {{/each}}
        {{else}}
        {{#each posts as |post|}}
        <a href="/login">
            <li>
                <div>
                    <h2>{{post.title}}</h2>
                    <p>{{post.text}}</p>
                </div>
            </li>
         </a>
        {{/each}}
        {{/if}}
    </ul>
    
        <form id="new-post">
        {{#if loggedin}}
     <label>Create a new blog post:</label>
    <input id="postTitle" type="text" name="title" placeholder="Title" required>
    <textarea id="postBody" name="text" placeholder="Enter your blog post here" required></textarea>
    <input id="postSubmit" type="submit" value="Submit">
    </form>
    {{/if}}


</div>

<script src="/js/post.js"></script>