<div>
    <h2>Homepage</h2>
    {{#if !loggedin}}
    <p> Please log in to view and create posts!</p>
    {{/if}}

    <ul>
        {{#if loggedin}}
        {{#each posts as |post|}}

        <a href="/post/{{post.id}}">
            <li>
                <div>
                    <h2>{{post.title}}</h2>
                    <p>{{post.text}}</p>
                </div>
            </li>
         </a>
        {{/each}}
        {{else}}
        {{#each posts as |post|}}
        <a href="/login">
            <li>
                <div>
                    <h2>{{post.title}}</h2>
                    <p>{{post.text}}</p>
                </div>
            </li>
         </a>
        {{/each}}
        {{/if}}
    </ul>
    
</div>

